
body {
    padding: 0 50px 50px 50px;
    font-family: 'Dimboregular', sans serif;
    background: #518ea0;
    text-align: center;
    user-select: none;
}

@font-face {
    font-family: 'dimboregular';
    src: url('fonts/dimbo_regular-webfont.woff2') format('woff2'),
         url('fonts/dimbo_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 800px;
    margin: 0 auto 20px auto;
	box-sizing: border-box;
}
.container-view {
	background-color:#e8e2b3;
	padding: 20px;
	border: 6px solid #b9b388;
	border-radius: 20px;
}

.container-item {
	display: inline-block;
	width: 180px;
	height: 180px;
}

.White-panel {
	background-color: white;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	color: red;
	border-radius: 8px;
	margin: 2px 8px;
	}
.container-item p {
	font-family: sans-serif;
	font-size: 100px;
	text-align: center;
	margin: 25px 15px;
	color: #c10000;
}

.item-panel {
	text-align: justify;
}

.item-panel:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.rulebox {
    font-size: 26px;
    height: 200px;
    overflow-y: auto;
}

.chest {
    overflow: hidden;
    display: inline-block;
}

.chest-input {
    opacity: 0;
    position: absolute;
}

.chest-text {
    background: url("./images/chest1.png") 1px 0 no-repeat; 
    display: inline-block;
    text-indent: -999px;
	width: 140px;
    height: 140px;
    background-size: contain;
}

.chest-input:checked + .chest-text {
    background: url("./images/chest2.png") 0 0 no-repeat; 
	width: 140px;
    height: 140px;
    background-size: contain;
}

.chest-text:hover {
    background: url("./images/key.png") 0 0 no-repeat;
	width: 140px;
    height: 140px;
    background-size: contain;
}

h1{
    background: #518ea0; 
    color: #e8e2b3; 
    padding: 2px; 
    font: 5em Dimboregular , sans-serif;
    text-shadow: 6px 1px 0px rgba(123,10,65,0.55);
   }

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}