
body {
    padding: 0 50px 50px 50px;
    font-family: 'Dimboregular', sans serif;
    background: #518ea0;
    text-align: center;
    user-select: none;
}

body.darkmod {
	background: #37454c;
}

h1{
	display: inline-block;
    background: #518ea0; 
    color: #e8e2b3; 
    padding: 2px; 
    text-shadow: 6px 1px 0px rgba(123,10,65,0.55);
	font-size: 5em;
   }

.darkmod h1 {
	background: #37454c;
}

.container {
    max-width: 800px;
    margin: 0 auto 20px auto;
	box-sizing: border-box;
}

.container-view {
	background-color:#e8e2b3;
	padding: 20px;
	border: 6px solid #b9b388;
	border-radius: 20px;
}

.darkmod .container-view {
	background-color: #506c8e;
	border: #223888 6px solid;
}

.container-item {
	display: inline-block;
	width: 180px;
	height: 180px;
}

.White-panel {
	background-color: white;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	color: red;
	border-radius: 8px;
	margin: 2px 8px;
	}
	
.darkmod .White-panel {
	background-color: #757575;
}

.container-item p {
	font-family: sans-serif;
	font-size: 100px;
	text-align: center;
	margin: 25px 15px;
	color: #c10000;
}

.container span{
	font-family: Dimboregular;
	text-align: center;
	display: inline-block;
	margin: 0;
	font-size: 50px;
	color: white;
	text-shadow: 
		-0   -3px 0   #0EAFF9,
		 0   -3px 0   #0EAFF9,
		-0    3px 0   #0EAFF9,
		 0    3px 0   #0EAFF9,
		-3px -0   0   #0EAFF9,
		 3px -0   0   #0EAFF9,
		-3px  0   0   #0EAFF9,
		 3px  0   0   #0EAFF9,
		-1px -3px 0   #0EAFF9,
		 1px -3px 0   #0EAFF9,
		-1px  3px 0   #0EAFF9,
		 1px  3px 0   #0EAFF9,
		-3px -1px 0   #0EAFF9,
		 3px -1px 0   #0EAFF9,
		-3px  1px 0   #0EAFF9,
		 3px  1px 0   #0EAFF9,
		-2px -3px 0   #0EAFF9,
		 2px -3px 0   #0EAFF9,
		-2px  3px 0   #0EAFF9,
		 2px  3px 0   #0EAFF9,
		-3px -2px 0   #0EAFF9,
		 3px -2px 0   #0EAFF9,
		-3px  2px 0   #0EAFF9,
		 3px  2px 0   #0EAFF9,
		-3px -3px 0   #0EAFF9,
		 3px -3px 0   #0EAFF9,
		-3px  3px 0   #0EAFF9,
		 3px  3px 0   #0EAFF9,
		-3px -3px 0   #0EAFF9,
		 3px -3px 0   #0EAFF9,
		-3px  3px 0   #0EAFF9,
		 3px  3px 0   #0EAFF9;
}

.item-panel {
	text-align: justify;
}

.item-panel:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.chest-input:disabled:hover  + .chest-text {
    background: url("./images/bashe_spites.png") 1px 0 no-repeat; 
	background-position: bottom center;
	background-size: 130%;
}

.rulebox {
    font-size: 26px;
    height: 200px;
    overflow-y: auto;
}

.darkmod .rulebox {
	color: white;
}

.chest {
    overflow: hidden;
    display: inline-block;
}

.chest-input {
    opacity: 0;
    position: absolute;
}

.night-input {
	opacity: 0;
    position: absolute;
}

.chest-text {
    background: url("./images/bashe_spites.png") 1px 0 no-repeat; 
    text-indent: -999px;
	width: 140px;
    height: 140px;
    background-position: top center;
	background-size: 128%;
	border-bottom: 2px solid transparent;
}

.night {
	background: url("./images/Blue candle.png") 1px 0 no-repeat; 
    text-indent: -999px;
	width: 64px;
    height: 64px;
	display: inline-block;
}

.night:hover {
	background: url("./images/Blue candle hover.png") 1px 0 no-repeat; 
    text-indent: -999px;
	width: 64px;
    height: 64px;
	display: inline-block;
}

.night-input:checked + .night {
	background: url("./images/Red candle.png") 5px 2px no-repeat; 
    text-indent: -999px;
	width: 64px;
    height: 64px;
	display: inline-block;
}

.night-input:checked:hover + .night {
	background: url("./images/Red candle hover.png") 5px 2px no-repeat; 
    text-indent: -999px;
	width: 64px;
    height: 64px;
	display: inline-block;
}

.chest-input:checked + .chest-text {
    background: url("./images/bashe_spites.png") 0 0 no-repeat; 
	width: 140px;
    height: 140px;
	background-position: center center;
	background-size: 130%;
}

.chest-input:disabled:disabled +.chest-text {
	background: url("./images/bashe_spites.png") 0 0 no-repeat;
	width: 140px;
    height: 140px;
    background-position: top center;
	background-size: 130%;
}

.chest-text:hover {
    background: url("./images/bashe_spites.png") 0 0 no-repeat;
	width: 140px;
    height: 140px;
    background-position: bottom center;
	background-size: 130%;
}

.chest-input:disabled + .chest-text {
    opacity: 0.5;
    cursor: default;
}

.state_1_js {
    background-color: #7eea00;
}

.darkmod .state_1_js {
	background-color: #91c356;
}

.state_2_js {
    background-color: #21e0f3;
}

.darkmod .state_2_js {
	background-color: #55c8d4;
}

.chest-input.state_1_js + .chest-text {
    border-bottom: 2px solid #7eea00;
}

.darkmod .chest-input.state_1_js + .chest-text {
	border-bottom: 2px solid #91c356;
}

.chest-input.state_2_js + .chest-text {
  border-bottom: 2px solid #21e0f3;
}

.darkmod .chest-input.state_2_js + .chest-text {
	border-bottom: 2px solid #55c8d4; 
}

/* scroll */
::-webkit-scrollbar {
    width: 15px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*fonts */

@font-face {
    font-family: 'dimboregular';
    src: url('fonts/dimbo_regular-webfont.woff2') format('woff2'),
         url('fonts/dimbo_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}